# Ignore object files and binaries
*.o
build/bin/iad
build/bin/iac
build/bin/audioplay
build/bin/wc-console
build/bin/web_client
build/version.h
build/lws-build/
include/libwebsockets
include/libwebsockets.h
include/lws_config.h
lib/libwebsockets.a
lib/libwebsockets.so
build/cJSON-build/
include/cJSON.h
lib/libcjson.a
scripts/echo_core_files.sh
.vscode
