# Ignore object files and binaries
*.o
build/bin/iad
build/bin/iac
build/bin/audioplay
build/bin/wc-console
build/version.h
build/lws-build/
include/libwebsockets
include/libwebsockets.h
include/lws_config.h
lib/libwebsockets.a
config/echo_core_files.sh
